<div data-class="LookupBoxControl @itemTemplateSource={bind source=__control} singletemplateconsumerkey='list-item' @selectinputonfocus={read source=__control path=$selectinputonfocus} @showclear={read source=__control path=$showclear} @noselection={read source=__control path=$noselection}"
    data-on-pluginto="{bind source=__control path=$lookup}"
    data-on-$activatedevent="{bind source=__control path=onLookupActivated}"
    data-on-$clearselectionevent="{bind source=__control path=onLookupActivated}"
    data-bind-$interface="{read source=__control path=$lookupcallback}">

</div>