<table class="bk-pager-container" data-bind-elementvisibility="{read source=__control path=$visible readdata=$pagerupdateevent}">
    <!--class="c_short_pager"-->
    <tr>
        <td class="bk-pager-element-holder">
            <!--go to first button-->
            <div data-class="SvgY svgpath='/node/raw/bindkraftstyles/images/angleDouble-left-icon.svg' width='25px' height='25px'"style="padding-top:5px; cursor:pointer;" class="bk-svg-avatar-box"
                  data-bind-elementdisabled="{read source=__control path=$hasprevpage format=InverseFormatter readdata=$pagerupdateevent}"
                  data-on-click="{bind source=__control path=gotoFirstPage}"></div> <!--class="c_pager_double_left"-->
        </td>
        <td class="bk-pager-element-holder">
            <!--go to previous button-->
            <div data-class="SvgY svgpath='/node/raw/bindkraftstyles/images/angle-left-icon.svg' width='25px' height='25px'" style="padding-top:5px; cursor:pointer;" class="bk-svg-avatar-box"
                  data-bind-elementdisabled="{read source=__control path=$hasprevpage format=InverseFormatter readdata=$pagerupdateevent}"
                  data-on-click="{bind source=__control path=gotoPrevPage}"></div> <!--class="c_pager_one_left"-->
        </td>
        <td class="bk-pager-element-holder bk-pager-content-hider"><span>Page:</span></td>
        <td class="bk-pager-element-holder">
            <input data-key="currentpage" type="text" class="bk-pager-input" size="1"
                   data-bind-val="{read source=__control path=$currentpage readdata=$pagerupdateevent writedata=__control:$applypageevent name=currentpagevalue 
                   format=IntegerFormatter}"
                   data-on-keypress="{bind(1) source=__control path=OnKeyPress ref[page]=self:currentpagevalue }" />
        </td>
        <td class="bk-pager-element-holder bk-pager-content-hider"><span class="bk-pager-info"> of</span></td>
        <td class="bk-pager-element-holder bk-pager-content-hider"><span class="bk-pager-info" data-bind-text="{read source=__control path=$totalpages readdata=$pagerupdateevent}"></span></td>
        <td class="bk-pager-element-holder">
            <!--style="padding-right:0px;"-->
            <!--go to next button-->
            <div data-class="SvgY svgpath='/node/raw/bindkraftstyles/images/angle-right-icon.svg' width='25px' height='25px'" style="padding-top:5px; cursor:pointer;" class="bk-svg-avatar-box"
                 data-bind-elementdisabled="{read source=__control path=$hasnextpage format=InverseFormatter readdata=$pagerupdateevent}"
                 data-on-click="{bind source=__control path=gotoNextPage}">
                
                <!--class="c_pager_one_right"-->
            </div>
        </td>
        <td class="bk-pager-element-holder">
            <!--style="padding-left:0px"-->
            <!--go to last button-->
            <div data-class="SvgY svgpath='/node/raw/bindkraftstyles/images/angleDouble-right-icon.svg' width='25px' height='25px'" style="padding-top:5px; cursor:pointer;" class="bk-svg-avatar-box"
                  data-bind-elementdisabled="{read source=__control path=$haslastpage format=InverseFormatter readdata=$pagerupdateevent}"
                  data-on-click="{bind source=__control path=gotoLastPage}"></div><!--class="c_pager_double_right"-->
        </td>
    </tr>
</table>
