<div data-class="DataBrowser #detailed='1'"
     style="font-weight: bold;"
     data-bind-$item="{read source=parentcontext}"
     data-bind-$expanded="{read source=__control path=$expanded}">
    <div data-class="TemplateSwitcher" data-bind-$item="{read source=__control path=$item}" data-key="nodecontent"
         data-on-$select="{bind source=__control path=TemplateSelector}">
        <span data-key="null">null</span>
        <span data-key="undefined">undefined</span>
        <span data-key="function">function()</span>
        <span data-key="boolean" data-bind-text="{read}" style="color:blue;"></span>
        <span data-key="number" data-bind-text="{read}" style="color:red;"></span>
        <span data-key="string" data-bind-text="{read}" style="color:green;"></span>
        <span data-key="date" data-bind-text="{read}" style="color:orange;"></span>
        <span data-key="object">
            <span data-class="DataBrowser #detailed='1'" data-bind-$item="{read}" data-bind-$expanded="{read source=__control path=$expanded}">
                <span data-class="DualTemplate"
                      data-key="datanode"
                      data-bind-$alternatetemplate="{read(0) source=__control path=$expanded}"
                      data-bind-$item="{read(1) source=static object=object}">
                    <a data-key="default" data-on-click="{bind source=datanode path=ToggleTemplate}">[+] {...}</a>
                    <span data-key="alternate">
                        <a data-on-click="{bind source=datanode path=ToggleTemplate}">[-]</a>
                        {
                        <div data-class="ValueRepeater" data-bind-$items="{read source=__control path=$item}" style="margin-left:16px;" data-async="I100">
                            <span data-bind-text="{read path=$key}"></span><span>:</span>
                            <span data-class="TemplateSwitcher templateSource='nodecontent'" data-bind-$item="{read path=$value}"
                                  data-on-$select="{bind source=__control path=TemplateSelector}">
                                <!-- Recurse -->
                            </span>
                            <br />
                        </div>
                        }
                    </span>
                </span>
            </span>
        </span>
        <span data-key="BaseObject">
            <span data-class="DataBrowser #detailed='1'" data-bind-$item="{read}" data-bind-$expanded="{read source=__control path=$expanded}">
                <span data-class="DualTemplate"
                      data-key="datanode"
                      data-bind-$alternatetemplate="{read(0) source=__control path=$expanded}"
                      data-bind-$item="{read(1) source=static object=object}">
                    <a data-key="default" data-on-click="{bind source=datanode path=ToggleTemplate}">
                        [+] {...}
                        <span data-bind-text="{read source=__control path=$item customformat=__control:FormatObjectBriefInfo}"></span>
                    </a>
                    <span data-key="alternate">
                        <a  data-on-click="{bind source=datanode path=ToggleTemplate}">[-] <span data-bind-text="{read source=__control path=$item customformat=__control:FormatObjectBriefInfo}"></span></a>
                        {
                        <div data-class="ValueRepeater" data-bind-$items="{read source=__control path=$item}" style="margin-left:16px;" data-async="I10">
                            <span data-bind-text="{read path=$key}"></span><span>:</span>
                            <span data-class="TemplateSwitcher templateSource='nodecontent'" data-bind-$item="{read path=$value}"
                                  data-on-$select="{bind source=__control path=TemplateSelector}">
                                <!-- Recurse -->
                            </span>
                            <br />
                        </div>
                        }
                    </span>
                </span>
            </span>
        </span>
        <span data-key="array">
            <span data-class="DataBrowser #detailed='1'" data-bind-$item="{read}" data-bind-$expanded="{read source=__control path=$expanded}">
                <span data-class="DualTemplate"
                      data-key="datanode"
                      data-bind-$alternatetemplate="{read(0) source=__control path=$expanded}"
                      data-bind-$item="{read(1) source=static object=object}">
                    <a data-key="default" data-on-click="{bind source=datanode path=ToggleTemplate}">[+] [...]</a>
                    <span data-key="alternate">
                        <a data-on-click="{bind source=datanode path=ToggleTemplate}">[-]</a>
                        [
                        <div data-class="Repeater" data-bind-$items="{read source=__control path=$item}" style="margin-left:16px;" data-async="I10">
                            <div data-class="TemplateSwitcher templateSource='nodecontent'" data-bind-$item="{read}"
                                 data-on-$select="{bind source=__control path=TemplateSelector}">
                                <!-- Recurse -->
                            </div>
                        </div>
                        ]
                    </span>
                </span>
            </span>
        </span>
    </div>
</div>