
    <div data-class="WindowInfoDisplay" style="position: absolute; top: 0px; left:0px;width:100%;background-color:#C0C0C0;" data-key="windowinfodisplay" >
        <input type="button" value="Clear" data-on-click="{bind source=__control path=onClearMessages}" 
			style="margin:2px 2px 0 0;float:right;cursor:pointer;" />
        <table style="margin-top:15px; border-collapse: collapse; background-color:transparent;width:100%;" >
            <tbody data-class="Repeater" data-bind-$items="{read source=__control path=$reversedc}">
                <tr style="border-bottom: 1px dotted #000000">
                    <td style="width:30px; text-align:center"
						data-bind-backcolor="{read path=messageType format=__control:TypeColor}"
					>&nbsp;</td>
                    <td style="width:auto;">
                        <span  data-bind-text="{read path=message}"></span>
                    </td>
                    <td style="width:50px; text-align:left;">
						<input type="button" value="X" data-on-click="{bind source=__control path=onRemoveMessage}" 
							style="margin:2px 2px 0 0;float:right;cursor:pointer;" />
                    </td>
                </tr>  
            </tbody>      
        </table>
    </div>
